.cordinate
{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background:white;
}
.item
{
 
    font-weight: 600;
    font-style: oblique;
    text-size-adjust: 30px;
    padding:25px;
    gap:20%;
}
.div
{
    width: 29px;
  border: 1px solid aqua;
  padding: 25px;
  gap:20%;
  margin: 25px;
  height: 1px;
  font-style: oblique;
}
.main
{
    background: linear-gradient(to bottom, #EEFEFF 0%, #EEFEFF 70%,white 50%,white 0%);
}
.h1 button {
    border-style: none;
    font-size: 25px;
    background-color: hsl(186, 85%, 26%);
    color: aliceblue;
    
}
.h2 img{
    
    padding-top: -10%;
}
.h3 
{
    color:aqua;
    border-radius: 10;
    background-color: rgb(252, 252, 252);
    width: 100px;
}
.h4{
    font-weight: lighter;
   
}
.nav1
{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
 
}
.item1
{
    font-weight: 100;
    font-style: italic;
    
    padding:6px;
    
   
}
.h6{
    float: left;
    margin-left: 20%;
    font-style: italic;
}
.h7{
    float:right;
    margin-right:20% ;
}

/* .grid
{
    display: grid;
    grid-template-rows: repeat(3,2fr);
    justify-content: space-evenly;
    gap: 2px;
    padding: 20px;
    padding-left: 15%;
}
.griditem
{
font-size: 30px;
text-align: center;
padding: 10%;
width:40%;
height: 50%; */
   

/* } */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 10%;
    
  }
  
  